<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Add job</title>
</head>
<body>
<h3>Add Employee</h3>
<div class="container">
    <hr>
    <p class="h4 mb-4">Save Job</p>
    <form action="#" th:action="@{/job/save}"
          th:object="${job}" method="POST">
        <input type="text" th:field="*{title}" class="form-control mb-4 col-4" placeholder="Job Title">
        <input type="text" th:field="*{minSalary}" class="form-control mb-4 col-4" placeholder="Minimum Salary">
        <input type="text" th:field="*{maxSalary}" class="form-control mb-4 col-4" placeholder="Maximum Salary">
        <button type="submit" class="btn btn-success col-2"> Save</button>
    </form>
    <hr>
</div>

<a th:href="@{/job/list}" class="btn btn-secondary ml-3" type="button">Back to job list</a>
</body>
</html>