<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Job</title>
</head>
<body class="px-2">
<div th:replace="~{fragment/navigation :: navbar}"></div>
<div>
    <h3>Job List</h3>
    <hr>
    <a th:href="@{/job/add}" class="btn btn-primary btn-sm mb-3">Add Job title</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Minimum Salary</th>
            <th>Maximum Salary</th>
            <th>Action</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="theJob:${jobs}">
            <td th:text="${theJob.id}"/>
            <td th:text="${theJob.title}"/>
            <td th:text="${theJob.minSalary}"/>
            <td th:text="${theJob.maxSalary}"/>
            <td>
                <a th:href="@{/job/update(jobId=${theJob.id})}"
                   class="btn btn-primary btn-sm">Update</a>

                <a th:href="@{/job/delete(jobId=${theJob.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure to delete this job?')))return false">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>