<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Update job</title>
</head>
<body class="lm-10">
<H3>Update job</H3>
<form action="#" th:action="@{/country/save}"
      th:object="${country}" method="POST">
    <input type="hidden" th:field="*{countryId}" class="form-control mb-4 col-4">
    <input type="text" th:field="*{countryName}" class="form-control mb-4 col-4" placeholder="Country">
    <button type="submit" class="btn btn-success col-2"> Save</button>
</form>
<hr>
<a th:href="@{/Country/list}">Back to Country list</a>

</body>
</html>