<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Add Location</title>
</head>
<body>
<h3>Add Location</h3>
<div class="container">
    <hr>
    <p class="h4 mb-4">Save Location</p>
    <form action="#" th:action="@{/location/save}"
          th:object="${location}" method="POST">
        <input type="text" th:field="*{streetAddress}" class="form-control mb-4 col-4" placeholder="Street Name">
        <input type="text" th:field="*{postalCode}" class="form-control mb-4 col-4" placeholder="Postal Code">
        <input type="text" th:field="*{city}" class="form-control mb-4 col-4" placeholder="City">
        <input type="text" th:field="*{province}" class="form-control mb-4 col-4" placeholder="Province or State">
        <select th:field="*{country}" name="country" class="form-control mb-4 col-4">
            <option value="">Select a country</option>
            <th:block th:each="country : ${countryList}">
                <option th:value="${country.id}" th:text="${country.countryName}"></option>
            </th:block>
        </select>
        <button type="submit" class="btn btn-success col-2"> Save</button>
    </form>
    <hr>
</div>

<a th:href="@{/location/list}" class="btn btn-secondary ml-3" type="button">Back to Location list</a>
</body>
</html>