<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Job</title>
</head>
<body class="px-2">
<div th:replace="~{fragment/navigation :: navbar}"></div>
<div>
    <h3>Location List</h3>
    <hr>
    <a th:href="@{/location/add}" class="btn btn-primary btn-sm mb-3">Add Location title</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Street Name</th>
            <th>Postal Code</th>
            <th>City</th>
            <th>Province/State</th>
            <th>Country</th>
            <th>Action</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="theLocation:${locations}">
            <td th:text="${theLocation.id}"/>
            <td th:text="${theLocation.streetAddress}"/>
            <td th:text="${theLocation.postalCode}"/>
            <td th:text="${theLocation.city}"/>
            <td th:text="${theLocation.province}"/>
            <td th:text="${theLocation.country.countryName}"/>
            <td>
                <a th:href="@{/location/update(locationId=${theLocation.id})}"
                   class="btn btn-primary btn-sm">Update</a>
                <a th:href="@{/location/delete(locationId=${theLocation.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure to delete this Location?')))return false">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>