<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Job</title>
</head>
<body class="px-2">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employee/list}">Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/job/list}">Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" th:href="@{/department/list}">Departments</a>
            </li>
        </ul>
    </div>
</nav>

<div>
    <h3>Location List</h3>
    <hr>
    <a th:href="@{/location/add}" class="btn btn-primary btn-sm mb-3">Add Location title</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Street Name</th>
            <th>Postal Code</th>
            <th>City</th>
            <th>Province/State</th>
            <th>Country</th>
            <th>Action</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="theLocation:${locations}">
            <td th:text="${theLocation.locationId}" />
            <td th:text="${theLocation.streetAddress}" />
            <td th:text="${theLocation.postalCode}" />
            <td th:text="${theLocation.city}" />
            <td th:text="${theLocation.province}" />
            <td th:text="${theLocation.country.countryName}" />
            <td>
                <a th:href="@{/location/update(locationId=${theLocation.locationId})}"
                   class="btn btn-primary btn-sm">Update</a>

                <a th:href="@{/location/delete(locationId=${theLocation.locationId})}"
                   class="btn btn-danger btn-sm" onclick="if (!(confirm('Are you sure to delete this Location?')))return false">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>